<!DOCTYPE html>
<html>
<style>
body
{
font-size: 16px!important;
font-family: Palatino Linotype, Book Antiqua, Palatino, serif!important;
}
</style>
<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
<body bgcolor="#D5D5D5">
<head>
  <title>Loke Blog!!!</title>
  <style>#oisbar-optinbar a:hover{text-decoration:none;color:#ffffff!important;}#oisbar-optinbar{z-index: 9999999;text-align:center!important;border-bottom-style:solid!important;position: fixed;width: 100%;top: 0;}html{margin-top:38px !important;}.oisbar-component{display:inline-block;}#oisbar-announceText {color: #ffffff!important;text-decoration: none!important;font-weight: normal!important;font-style: normal!important; }#oisbar-announceLink {color: #ffffff!important;text-decoration: underline!important; }#oisbar-left-content {color: #ffffff!important;text-decoration: none!important;font-weight: normal!important;font-style: normal!important; }#oisbar-middle-content {color: #4c4c4c!important;text-decoration: none!important;font-weight: normal!important;font-style: normal!important; }#oisbar-right-content {color: #ffffff!important;text-decoration: none!important;font-weight: normal!important;font-style: normal!important; }#oisbar-optinbar {background-color: #AAAAAA!important;border-bottom-color: #f2f2f2!important;border-bottom-width: 2px!important;padding-top: 13px!important;padding-bottom: 9px!important;font-size: 16px!important;font-family: Palatino Linotype, Book Antiqua, Palatino, serif!important; }</style>  <div id="oisbar-optinbar" class="ois-design">
          <div id="oisbar-middle-content" ng-style="leftContentStyle" class="oisbar-component">My first!!!
            </div>
    </div>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>

</body>
</html>
